      <!-- BEGIN SIDEBAR MENU -->
<ul class="page-sidebar-menu">
    <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler">
        </div>
        <div class="clearfix">
        </div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li class="sidebar-search-wrapper">
        <form class="search-form" role="form" action="https://keenthemes.com/preview/conquer/index.html" method="get">
            <div class="input-icon right">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control input-sm" name="query" placeholder="Search...">
            </div>
        </form>
    </li>
    @*<li class="start ">
        <a href="index.html">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
        </a>
    </li>*@
    <li class="active ">
        <a href="javascript:;">
            <i class="icon-puzzle"></i>
            <span class="title">Pages</span>
            <span class="selected"></span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
            <li class="active">
                <a asp-controller="Category" asp-action="Index" class="nav-link">
                    <i class="icon-anchor"></i>
                    <span>Category</span>
                </a>
            </li>
            <li>
                <a asp-controller="EventLog" asp-action="Index" class="nav-link">
                    <i class="icon-book-open"></i>
                    <span>Event Log</span>
                </a>
            </li>            
        </ul>
    </li>
</ul>
<!-- END SIDEBAR MENU -->